.container{
  margin-right: auto;
  margin-left: auto;
  width: 1512px;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid;
}

.main.titulo{
  width: 800px;
  height: 230px;
  top: 204px;
  left: 100px;
  weight: 500;
  size: 96px;
}

.container,header{
  width: 1512px;
  height: 37px;
  top: 43px;
  justify-content: space-between;
}

.persona{
  width: 26px;
  height: 26px;
  top: 5,5px;
  left: 1330px;
  border: 0,5px;
}
